{% extends "personal/header.html" %} {% block content %}

<!-- Gets math typing -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>



<!-- line breaks -->


<div class="container">

	<h2 style="background-color:#000; color:white; text-align:center;">{{ subject.subject }} Quiz</h2>
	<div class="row" style="background-color:#428bca;">
		<form id="quiz-select" method="POST">
			{% csrf_token %} {% for topic in topics %}
			<div class="col-xs-3">
				<label class="checkbox-inline"><input type="checkbox" name="checks" value="{{topic}}"> {{topic}}</label>
			</div>
			{% endfor %}

	</div>

	<div class="row">
		<input class="btn btn-primary btn-block" type="submit" value="Generate Quiz" />
	</div>
	</form>
	<br></br>
</div>




<!-- holds stuff in -->
<div class="container">
	<div class="panel panel-default">
		<!-- table -->
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Question</th>
					<th>Answer</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!-- python scripting for making rows -->
				{% for question in questions %}
				<tr>

					<!-- jquery easy js - which says if click button then show answer -->
					<script>
						$(document).ready(function() {
							$("#button_{{question.pk}}").click(function() {
								$("#answer_{{question.pk}}").css("visibility", "visible");
							});
						});
					</script>


					<!-- write question-->
					<td>{{question.question}}?</td>

					<td style="height:2em;">
						<p id="answer_{{question.pk}}" style="visibility:hidden">{{question.answer}}</p>
					</td>

					<td>
						<button type="button" class="btn btn-primary btn-block" id="button_{{question.pk}}">Show</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>



{% endblock %}
